@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,300&family=Playfair+Display:ital,wght@0,400;0,800;1,800&display=swap');

.valid{
    font-family: 'Barlow Condensed', sans-serif;
}
.add-user{
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Playfair Display', serif;
}
.register-btn{
    background-color: #D11534;
    color: #fff;
    font-size: 1.2rem;
    float:right;
}
